*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Noto Sans Hanunoo", sans-serif;
    font-size: 14px;
    background: rgb(31, 31, 31);
}

body button {
    border-color: black;
    background-color: orange;
    color: black;
    border-radius: 5px;
}

#card-container {
    background-color: rgb(31, 31, 31);
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
}

#card-tab-buttons {
    margin-left: 20px;
}

.card-buttons {
    margin-right: 10px;
    padding: 5px;
}

.input-card {
    background-color: orange;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 20px;
}

#card-title {
    margin-bottom: 20px;
    font-size: 18px;
}

.input-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-holder {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.template-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.email-buttons-container {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.input-card button {
    padding: 5px;
    font-size: 14px;
}

.email-button {
    margin-right: 20px;
}

.results-card {
    background-color: orange;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}

.results-card-title {
    margin-bottom: 20px;
    font-size: 18px;
}

.results-card button {
    padding: 2px;
    text-align: center;
    font-size: 12px;
}

.text-area-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-area-label p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-area-label p button {
    margin-top: 10px;
    margin-bottom: 5px;
}

.text-box, .osp-text-box {
    font-family: "Noto Sans Hanunoo", sans-serif;
    border-radius: 5px;
}